@import "../style";

.comment-item-container {

    .avatar-container {
        float: left;
        margin: 24px 0 0 5px;
        position: relative;
    }

    .comment-container {


        .comment-header-container {


            .
        }
    }
}