@import "../style";

.game-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .game-info {
        display: inline-block;
        width: 70%;
        margin-left: 10%;
        margin-top: 30px; 
        p {
            @include font-with-var(3em, 900);
        }

        .game-detail-name {
            @include font-with-var(1.5em, 700);
        }

        .game-detail {
            @include font-with-var(1.5em, 500);
        }

        .game-platform-container {
            margin-top: 20px;
        }
        
    }
    .add-to-list-button-container {
        position: relative;
        margin-left: 70%;
        top: -16em; 
    }
}