@import '../style';

.mouse-enter-or-out-wrapper {
    
    .gamelistitem-container {
        position: relative;

            .delete-game-button-container {
            position: absolute;
            pointer-events:none;
            right: 12%;
            top: -25px;
        }

        .gamelistitem-img-container {

            position: relative;
            margin: 60px auto;
            padding: 30px auto;
            width: 70%;
            overflow: hidden;
            max-height: 200px;

            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;

            background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
            
            

            img {
                width: 100%; 
                display: block; 
                z-index: -1;
            }
        }
    

        .gamelistitem-img-header-container {
            position: absolute;
            top: 30%;
            left: 20%;
            

            .gamelistitem-img-title {
                color: white;
                
            }

            .gamelistitem-img-desc {
                color: white;

            }
        }
    }
}


// .gamelistitem-container {
    
//     .gamelistitem-img-container {
//         // display: inline-block;
//         // clear: right;
//         float: left;
//         margin: 24px 0 0 5px;
//         position: relative;
//         width: 20%; height: auto;max-height: 170px; 
//         overflow: hidden;
        

//         img {
//             width: 100%; 
//             height: auto;
//             max-width: 100%; 
//             // display: block; 
            
//             }

//     }
//     .gamelistitem-img-cover {
//         display: inline-block;
//         border-top: none;
//         width: 1px;
//     }

//     .gamelistitem-img-header-container {
//         // display: inline-block;
        
//         margin: 24px 0 0 5px;
//         position: relative;
//         width: 40%;
//         margin-left: 25%;
//         padding: 22px 0 14px;
    
//         .gamelistitem-img-title {
//                 font-size: 12px;
//                 font-weight: 700;
//                 line-height: 18px;
//                 padding-bottom: 4px;
//                 // display: block;
//                 word-wrap: break-word;

//         }
//         .gamelistitem-img-desc {
//             p {
//                 line-height: 20px;
//                 padding: 2px 0;
//                 font-size: 18px;
//                 text-shadow: none;
//                 overflow: hidden;
//                 word-wrap: break-word;
//             }
//         }
//     }
// }