@import '../style';

.mouse-enter-or-out-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .gamelistitem-container {
        position: relative;
        margin: 30px;

        .delete-game-button-container {
            position: absolute;
            pointer-events:none;
            top: -30px;
            left: -30px;
        }

        .gamelistitem-img-container {
            position: relative;
            overflow: hidden;
            height: 300px;
            img {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                display: block; 
                z-index: -1;
                object-fit: cover;
            }
        }
        .gamelistitem-img-container::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to left, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
        }
    

        .gamelistitem-img-header-container {
            position: absolute;
            top: 30%;
            right: 20%;
            

            .gamelistitem-img-title {
                color: white;
                
            }

            .gamelistitem-img-desc {
                color: white;

            }
        }
    }
}


// .gamelistitem-container {
    
//     .gamelistitem-img-container {
//         // display: inline-block;
//         // clear: right;
//         float: left;
//         margin: 24px 0 0 5px;
//         position: relative;
//         width: 20%; height: auto;max-height: 170px; 
//         overflow: hidden;
        

//         img {
//             width: 100%; 
//             height: auto;
//             max-width: 100%; 
//             // display: block; 
            
//             }

//     }
//     .gamelistitem-img-cover {
//         display: inline-block;
//         border-top: none;
//         width: 1px;
//     }

//     .gamelistitem-img-header-container {
//         // display: inline-block;
        
//         margin: 24px 0 0 5px;
//         position: relative;
//         width: 40%;
//         margin-left: 25%;
//         padding: 22px 0 14px;
    
//         .gamelistitem-img-title {
//                 font-size: 12px;
//                 font-weight: 700;
//                 line-height: 18px;
//                 padding-bottom: 4px;
//                 // display: block;
//                 word-wrap: break-word;

//         }
//         .gamelistitem-img-desc {
//             p {
//                 line-height: 20px;
//                 padding: 2px 0;
//                 font-size: 18px;
//                 text-shadow: none;
//                 overflow: hidden;
//                 word-wrap: break-word;
//             }
//         }
//     }
// }