@import '../style';


#bg {
    position: fixed; 
    top: -50%; 
    left: -50%;
    width: 200%; 
    height: 200%;
    z-index: -1;
    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
    }
}



.home-page-container {
    position: relative;
    text-align: center;
    // height: 500px;


    
    
    .home-page-title-container {
        
        height: 400px;
        
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;

        .home-page-title {
            // min-width: 700px;
            // height: 300px;
            // line-height: 300px;
            font-size: 6em;
            color: white;
            // p {
            //     width: 100%; height: auto;max-width: 100%; display: block;
            //     overflow: hidden;
            // }
            
        }
    }

    .search-bar-container {
        position: relative;
        top: -50px;

        .home-page-search-bar {
            line-height: 200% !important ; 
        }
    }
}
