@import "../style.scss";

.search-gamelist-item-wrapper {
    margin: 50px auto;

    .search-gamelist-item-img-container {
        height: 200px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
}