@import "../style.scss";

.search-gamelist-item-wrapper {
    width: 70%;
    margin: 20px auto;
    height: 200px;
    overflow: hidden;

        .search-gamelist-item-img-container {
     		height: 200px;
        img {
            width: 100%;
            height: auto;
        }
}
}